<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />

    <link rel="stylesheet" href="css/app.css" />

    <!-- --------------- App init --------------- -->
    <script src="js/marked.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>

    <title>Card</title>

</head>

<body ng-controller="AppController">

    <ons-navigator var="navi">
        <ons-page>
            <ons-toolbar>
                <div class="center">Cards</div>

                <div class="right">
                  <ons-toolbar-button>
                  <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ng-click="showAdd()"></ons-icon>
                  </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <ons-list ng-controller="MasterController">
                <ons-list-item modifier="chevron" class="item" ng-repeat="item in data.items" ng-click="showDetail($index)">
                    <ons-row>
                        <ons-col ng-bind-html="item.marked_q">
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-navigator>

    <ons-template id="detail.html">
        <ons-page ng-controller="DetailController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Answer</div>
                <div class="right"><ons-toolbar-button ng-click="toggleEdit();" ng-hide="isEdit">Edit</ons-toolbar-button></div>
            </ons-toolbar>

            <ons-gesture-detector ng-swiperight="navi.popPage();">
                <ons-list modifier="inset" style="margin-top: 10px">
                    <ons-list-item class="item" ng-hide="isEdit">
                            <div ng-bind-html="item.marked_a">
                            </div>
                    </ons-list-item>

                    <ons-list-item class="item" ng-show="isEdit">
                        <textarea class="textarea edit-question" ng-model='editQ' placeholder="Question"></textarea>
                    </ons-list-item>
                    <ons-list-item class="item" ng-show="isEdit">
                        <textarea class="textarea edit-answer" ng-model='editA' placeholder="Answer"></textarea>
                    </ons-list-item>
                    <ons-list-item class="item" ng-show="isEdit">
                        <ons-button ng-click="update()">Update</ons-button>
                        <ons-button ng-click="cancel()">Cancel</ons-button>
                        <ons-button ng-click="delete(item.id);">delete</ons-button>
                    </ons-list-item>

                    <ons-list-item class="item" ng-show="message != ''">
                        <div ng-bind-html="message"></div>
                    </ons-list-item>

                </ons-list>

            </ons-gesture-detector>

        </ons-page>
    </ons-template>

    <ons-template id="add.html">
        <ons-page ng-controller="AddController">

            <ons-toolbar>
                <div class="left"><ons-back-button ng-click="back()">Back</ons-back-button></div>
                <div class="center">Add</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item class="item">
                    <textarea class="textarea edit-question" ng-model='q' placeholder="Question"></textarea>
                    </ons-list-item>
                <ons-list-item class="item">
                    <textarea class="textarea edit-answer" ng-model='a' placeholder="Answer"></textarea>
                </ons-list-item>
                <ons-list-item class="item">
                    <ons-button modifier="large--cta" ng-click="add()">Add</ons-button>
                </ons-list-item>

                <ons-list-item class="item" ng-show="message != ''">
                    <div ng-bind-html="message"></div>
                </ons-list-item>
            </ons-list>

        </ons-page>
    </ons-template>

</body>
</html>
