<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />


    <!-- --------------- App init --------------- -->
    <script src="js/markdown.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>

    <title>Onsen UI Master-Details</title>

    <style>
        .item {
            padding: 10px;
            line-height: 1;
        }

        .item-thum {
            background-color: #ccc;
            width: 50px;
            height: 50px;
            border-radius: 4px;
        }

        .item-title {
            font-size: 15px;
            font-weight: 500;
        }

        .item-desc {
            font-size: 14px;
            color: #666;
            line-height: 1.3;
            margin: 4px 0 0 0;
            padding: 0 30px 0 0;
        }

        .item-label {
            font-size: 12px;
            color: #999;
            float: right;
        }
    </style>

</head>

<body ng-controller="AppController">

    <ons-navigator var="navi">
        <ons-page>
            <ons-toolbar>
                <div class="center">Cards</div>

                <div class="right">
                  <ons-toolbar-button>
                  <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ng-click="showAdd()"></ons-icon>
                  </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <ons-list ng-controller="MasterController">
                <ons-list-item modifier="chevron" class="item" ng-repeat="item in data.items" ng-click="showDetail($index)">
                    <ons-row>
                        <ons-col ng-bind-html="item.marked_q">
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-navigator>

    <ons-template id="detail.html">
        <ons-page ng-controller="DetailController">

            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Answer</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item class="item">
                    <ons-row>
                        <ons-col ng-bind-html="item.marked_a">
                        </ons-col>

            <div class="formarea" ng-show="isEdit">

              <div class="form-row">
                <label for=q>question:</label>
                <textarea id=edit-q name=edit-q ng-model='editQ' rows=10 cols=80></textarea>
              </div>

              <div class="form-row">
                <label for=a>answer:</label>
                <textarea id=edit-a name=edit-a ng-model='editA' rows=10 cols=80></textarea>
              </div>

              <div class="vspc form-row">
                <ons-button ng-click="update()">Update</ons-button>
                <ons-button ng-click="cancel()">Cancel</ons-button>
              </div>

            </div>

              <div class="vspc form-row">
                {{ message }}
              </div>

                    </ons-row>
                </ons-list-item>
            </ons-list>

            <br>

            <ons-row>
              <ons-button ng-click="delete(item.id);">delete</ons-button>
              <ons-button ng-click="toggleEdit();">edit</ons-button>
            </ons-row>

        </ons-page>
    </ons-template>

    <ons-template id="add.html">
        <ons-page ng-controller="AddController">

            <ons-toolbar>
                <div class="left"><ons-back-button ng-click="back()">Back</ons-back-button></div>
                <div class="center">Add</div>
            </ons-toolbar>

            <div class="formarea">

              <div class="form-row">
                <label for=q>question:</label>
                <textarea id=q name=q ng-model='q' rows=10 cols=80></textarea>
              </div>

              <div class="form-row">
                <label for=a>answer:</label>
                <textarea id=a name=a ng-model='a' rows=10 cols=80></textarea>
              </div>

              <div class="vspc form-row">
                <ons-button modifier="large--cta" ng-click="add()">Add</ons-button>
              </div>

              <div class="vspc form-row">
                {{ message }}
              </div>
            </div>

            <br>

        </ons-page>
    </ons-template>

</body>
</html>
